{% extends "::base.html.twig" %}

{% block title %}ConversationBundle:Message:view{% endblock %}

{% block body %}
	<div class="container">
		<div style="margin-right:auto;margin-left:auto;background:url('http://www.chicagonow.com/chicago-board-tirade/files/2015/11/star-wars-cap-33.jpg');bacjground-size:cover;width:630px;height:275px;">
		</div>
		<div style="text-align:center;" class="col-sm-12">Ce n'est pas l'url que vous recherchez...</div>
	</div>
	
	
{% endblock %}
