{% extends "::base.html.twig" %}

{% block title %}ConversationBundle:Message:view{% endblock %}

{% block body %}
<h1 class="col-sm-6 col-sm-offset-6">Welcome to the Message:view paaaaaaaage {{ jack }}</h1>
{% endblock %}
